*.toml
themes/*
!themes/even
public
.vscode
.hugo_build.lock
main.scss_*

# add obsidian stuff
.obsidian/*
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/hotkeys.json
!.obsidian/plugins
!.obsidian/community-plugins.json
