/**
 * This is used to overwrite the style defined in themes/even.
 */

.post .post-content {
    margin-top: 50px;
}

/* .post .post-content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 50px auto;
    padding: 0;
    max-width: 300px
} */

/* make h2 center aligned */
.post .post-content h2 {
    display: flex;
    justify-content: center;
}

.post .post-header .post-meta {
    text-align: center;
}

.post .post-content code {
    line-height: 1.2;
}
.post .post-content .highlight>.chroma {
    line-height: 1.2;
}

/**
 * Unset blockquote style.
 */
.post .post-content blockquote {
    position: unset;
    color: unset;
    background-color: unset;
    box-shadow: unset;
    /*-----------------*/
    margin: 1em 0;
    padding: 0 2em;
    border-left: 3px solid #ddd;
    border-left-color: transparent;
}
.post .post-content blockquote:hover {
    border-left-color: #ddd;
}

.archive .collection-title h2 {
    text-align: unset;
}

/* p {
    text-align: justify;
    text-justify: inter-ideograph;
} */

p:lang(en) {
    /* text-align: left; */
    hyphens: auto; /* 西文自动断词，包括以下两个 -<vendor>-hyphens 的兼容性选项 */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

footer {
    font-size: smaller;
    line-height: 1.5;
}

/**
 * This field controls print behaviour.
 */
@media print {
    /* hide these elements when print */
    .post-copyright, .post-footer, 
    #vcomments, footer, #back-to-top, .post-toc {
        display: none;
    }
}

/* -------------------------------------------------- */
/**
 * This stylesheet comes from yihui.org
 */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.75
}

button,input,select,textarea,label {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit
}

img {
    max-width: 100%
}

h1,h2 {
    padding: 0;
    margin: 60px 0 30px;
    line-height: 1.25;
    text-align: center
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

pre,code {
    font-size: .9em
}

ul,ol {
    padding: 0 0 0 20px
}

li {
    margin: 4px 0;
    padding: 0
}

.footnotes p {
    margin: unset;
}

.footnotes {
    font-size: smaller;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}